.cardList {
    max-width: 1358px;
    padding-top: 46px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 430px);
    grid-auto-rows: auto;
    column-gap: 32px;
    row-gap: 32px;
    justify-content: center;
}

@media screen and (max-width: 1354px) {
    .cardList {
        grid-template-columns: repeat(2, 430px);
    }
}

@media screen and (max-width: 932px) {
    .cardList {
        padding-top: 24px;
        grid-template-columns: repeat(1, 430px);
    }
}

@media screen and (max-width: 494px) {
    .cardList {
        grid-template-columns: repeat(1, 320px);
    }
}
