@import url(./styles/normalize.css);
@import url(./styles/fonts/fonts.css);

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    height: 100%;
    color: #111827;
    background: #e5e5e5;
    font-family: "Inter", Helvetica, Arial, system-ui, sans-serif;
    min-width: 320px;
}

#root {
    max-width: 1358px;
    margin: 0 auto;
}

@media only screen and (max-width: 765px) {
    #root {
        width: auto;
        margin: 0 20px;
    }
}

*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
blockquote,
hr {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

img {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: auto;
}

* {
    -webkit-tap-highlight-color: transparent;
}

button {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    outline: 0;
    padding: 0;
    display: block;
    cursor: inherit;
    touch-action: manipulation;
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

button:hover {
    opacity: 0.5;
    transition: 0.3s, ease-in-out, linear;
    cursor: pointer;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
    background-color: #ccc;
    color: #292929;
    border-color: #ccc;
    cursor: not-allowed;
}

input,
textarea {
    display: block;
    outline: 0;
    box-shadow: none;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
